.flexBox{
    padding: 1.25rem;
    display: flex;
    gap: 1.25rem;

    flex-direction: column;

    width: 26.875rem;
    height: 11.4375rem;
    border-radius: 1.5625rem;
    border: 0.0625rem solid gray;
}

.ulBox{
    padding-top: 2.5rem;
    display: flex;
    gap: 1.875rem;
    flex-wrap: wrap;
}